@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold mt-4 mb-5">BusinessInfo System</h1>
    <p>This Web Application manages Business information</p>
    <p>++Only the administrator can create, edit and delete business++</p>
</div>
